/* line 1, map_ed.scss */
* {
  box-sizing: border-box;
}

/* line 3, map_ed.scss */
.maped {
  font-family: Arial, sans-serif !important;
  position: relative;
}
/* line 9, map_ed.scss */
.maped .tools {
  position: fixed;
  width: 100%;
  height: 30px;
  background: #333;
  color: white;
}
/* line 18, map_ed.scss */
.maped .tools h1 {
  font-size: 12px;
  font-family: Arial, sans-serif;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 30px;
  line-height: 30px;
  color: red;
  text-align: center;
}
/* line 19, map_ed.scss */
.maped .tools .buttons {
  margin-left: 110px;
  height: 30px;
}
/* line 23, map_ed.scss */
.maped .tools .buttons button, .maped .tools .buttons input {
  display: block;
  float: left;
  margin: 1px 10px;
  height: 28px;
  padding: 4px;
}
/* line 24, map_ed.scss */
.maped .tools .buttons input {
  line-height: 28px;
  border: 1px solid #aaa;
  color: black;
}
/* line 29, map_ed.scss */
.maped .level-container {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
/* line 39, map_ed.scss */
.maped .level-container .level {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 44, map_ed.scss */
.maped .level-container .level .background, .maped .level-container .level .canvas {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 48, map_ed.scss */
.maped .level-container .level .canvas .hull p, .maped .level-container .level .canvas .prop p, .maped .level-container .level .canvas .area-marker p {
  display: block;
  color: white;
  font-size: 10px;
  padding: 2px;
  text-shadow: 1px 1px 0 black;
}
/* line 50, map_ed.scss */
.maped .level-container .level .canvas .hull {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 0, 255, 0.5);
  border: dotted 1px white;
  z-index: 0;
}
/* line 51, map_ed.scss */
.maped .level-container .level .canvas .area-marker {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 255, 255, 0.5);
  border: dotted 1px white;
  z-index: 1;
}
/* line 52, map_ed.scss */
.maped .level-container .level .canvas .prop {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 255, 0, 0.5);
  border: dotted 1px white;
  z-index: 2;
}
/* line 53, map_ed.scss */
.maped .level-container .level .canvas .prop img {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 54, map_ed.scss */
.maped .level-container .level .canvas .prop p {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 62, map_ed.scss */
.maped .dialogs {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  padding: 100px 0;
  z-index: 10000;
}
/* line 72, map_ed.scss */
.maped .dialogs .dialog {
  margin: 0 auto;
  display: none;
  width: 50%;
  height: 75%;
  overflow: hidden;
  overflow-y: scroll;
  background: white;
  box-shadow: 5px 5px 5px black;
}
/* line 89, map_ed.scss */
.maped .dialogs .prop-list .prop {
  display: block;
  float: left;
  margin: 20px;
  cursor: pointer;
}
/* line 95, map_ed.scss */
.maped .dialogs .prop-list .prop img {
  display: block;
}
/* line 96, map_ed.scss */
.maped .dialogs .prop-list .prop p {
  display: block;
  font-size: 12px;
  text-align: center;
  color: black;
}
